@media (max-width: 1439px) {
  .bg-card{
    background-color: #9296f0;
    width: 29rem;
  }
  
}

@media (min-width: 1440px) {
  .bg-card{
    background-color: #9296f0;
    width: 32rem;
  }
  
}

.img-new-artist {
  width: 60%;
}

.base-play {
  width: 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-play {
  background: none;
  border: none;
  color: grey;
  cursor: pointer;
  transition: 0.3s;
}

.btn-play:hover {
  transform: scale(1.2);
}

.btn-play:active {
  transform: scale(1);
}

.btn-like,
.btn-user-plus {
  background: none;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-like:hover,
.btn-user-plus:hover {
  background-color: white;
  color: #9296f0;
  transform: scale(1.03);
}

.btn-like:active,
.btn-user-plus:active {
  transform: scale(1);
}

.btn-like:focus,
.btn-user-plus:focus {
  background: white;
  color: #9296f0;
}

.btn-connect {
  border: solid;
  border-color: white;
  background: #9296f0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-connect:hover {
  background-color: white;
  color: #9296f0;
  transform: scale(1.03);
}

.btn-connect:active {
  transform: scale(1);
}
