.base-card-profile{
    width: 19rem;
    height: auto;
}

@media (min-width: 1921px) {
    .base-card-profile{
      width: 26rem;
    }
    
  }

  .edit-profile {
    padding: 0.5em;
    border: none;
    background: #9296f0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .edit-profile:hover {
    transform: scale(1.05);
  }
  
  .edit-profile:active {
    transform: scale(1);
  }