.base-card-artist{
    width: 19rem;
    height: auto;
}

@media (min-width: 1921px) {
    .base-card-artist{
      width: 26rem;
    }
    
  }

.backcolor{
  border-color: #9296f0;
  color:white;
}

.fontcolor{
  color:black;
}