.jumbotron {
  background-image: url(https://img.freepik.com/foto-gratis/musico-aprende-afinar-su-guitarra-tutorial-internet-traves-pantalla-verde_482257-83422.jpg?t=st=1722646569~exp=1722650169~hmac=fe334a1c14af4532be1718f5aba2750cac5623d6d78376cd55c8e5e0bcc26239&w=996);
  min-height: 75vh;
  background-size: cover;
  color: white;
}
